# Cocos Creator generated artifacts
/library/
/temp/
/local/
/build/
/release/
/native/
/profiles/

# Dependencies
/node_modules/

# Editors and operating systems
/.vscode/
/.idea/
.DS_Store
Thumbs.db
